Package:otdm-mqtt-installer-dummy
Version: 0.1
Section: base
Priority: optional
Architecture: all
#Depends: jq
Depends: otdm-tools
Maintainer: Bartlomiej Ceglik <yoyoek@wp.pl>
Homepage: https://github.com/yOyOeK1/oiyshTerminal
Description: It's a dummy package to break a tool of dependencis
	on system not termux based. Like ubuntu can use otdm-* :)
	NICE !
	it asums you have mqtt broker runing at setting as in config.json
