Package: otdm-nrf-yss
Version: 0.1.24
Section: base
Priority: optional
Architecture: all
Depends: otdm-tools, otdm-node-red-installer | otdm-node-red-installer-dummy
Maintainer: yoyoek@wp.pl
Description: Node-red flow for making yss possible.
