Package:otdm-tools
Version: 0.27.909
Section: otdm
Priority: optional
Architecture: all
Depends: jq, curl, python (>=3.0) | python3
#Recommends: jq, python (>=3.0) | python3
Recommends: python3-pip, python3-apt | python-apt
#Pre-Depends: otdm-installer (>=0.1) | otdm-installer-dummy (>=0.1)
Maintainer: Bartlomiej Ceglik <yoyoek@wp.pl>
Tag: oiyshTerminal, otdm
Homepage: https://github.com/yOyOeK1/oiyshTerminal
Description: It's a set of tool to help with the work
  of downloding http jsons parsing extracting importing
  exporting injecting datasource dashboards items to
  grafana. Can do adding and removing operations from
  files in Node-red in flows.
