Package: otdmp-open-muscle-src
Version: 0.0.2
Section: otdm
Priority: optional
Architecture: all
Depends: otdm-tools, otdm-tools-packitso
#Recommends: python3-pip, python3-apt | python-apt
#Pre-Depends: otdm-installer (>=0.1) | otdm-installer-dummy (>=0.1)
Maintainer: B. Ceglik  <yoyoek@wp.pl>
Tag: oiyshTerminal, otdm, packitso
Description: Open-muscle cooperation src bulk   *This is a automatic build from packitso.json to .deb Thu 16 Mar 2023 07:15:16 PM EST packitsoSh.sh (0.0.7.17)*

